body{
  
}
.container{
  width: 1302px;
  margin: 0 auto;
}

.player{
  background: #121212;
  position: relative;
}
.player-content{
  background: url(/maxresdefault.jpg) no-repeat center center #000;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

/*Прогрессбар*/
.progress-bar-block{
  position: absolute;
  width: 100%;
  height: 8px;
  bottom: 0;
  background-color: grey;
}
.progress-bar{
  width: 63.7%;
  height: 8px;
  background-color: #3DD9AA;
}

/*Размеры плеера*/
.pl-standart{
  width: 640px;
  height: 360px;
}
.pl-fly{
  width: 360px;
  height: 360px;
}
.pl-small{
  height: 250px;
}
.pl-big{
  width: 1280px;
  height: 720px;
}

/*Общие стили кнопок*/
.button{
  padding: 8px 16px 9px 16px;
  background-color: rgba(0,0,0,0.15);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 18px;
  font: 18px Arial;
  min-width: 130px;
  max-width: 180px;
  cursor: pointer;
}
.button:hover{
  background-color: rgba(0,0,0,0.8);
}
.bg-green{
  border: none;
  background-color: #3dd9aa;
}
.bg-green:hover{
  background-color: #38b48f;
}
.bg-blue{
  border: none;
  background-color: #106fe2;
}
.bg-blue:hover{
  background-color: #1460bc;
}

/*Стили боковых кнопок*/
.left-button{
  position: absolute;
  transform: translateY(-45%);
  top: 55%;
  left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;  
}
.right-button{
  position: absolute;
  transform: translateY(-45%);
  top: 55%;
  right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;  
}

/*Стили кнопок шеринга*/
.button-vk{
  
}
.social-rolled{
  
}

/*Стили перехода в аутстриме*/
.center-button{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -20%);
}
.hide-block{
  position: relative;
  width: 100%;
  height: 100%;
}
.hidden-button{
  opacity: 0;
  transition: 0.15s;
  margin: 0 auto;
}
.hide-block:hover{
  box-shadow: inset 0 -30px 40px rgba(32, 32, 32, 0.99);
  transition: 0.15s;
}
.hide-block:hover .hidden-button{
  opacity: 1;
  transition: 0.15s;
}
