/*Общие стили*/

body{
  background-color: #f7f7f7;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
}
.container{
  margin: 0 auto;
  padding: 16px;
  background-color: #fff;
}
.container-mob{
  width: 360px;
  margin: 0 auto;
  padding: 16px;
  background: #fff;
}
.block{
  margin-bottom: 20px;
}

.player{
  background: #333;
  position: relative;
}
.player-content{
  background: #000;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
.sandbox tr{
  border: rgb(45, 45, 45) solid 2px;
}
.sandbox td{
  height: 30px;
  width: 150px;
}


/* Фоновые цвета */
.bg-grey{
  background-color: #f7f7f7;
}


/* Размеры */

.w360{
  width: 328px;
}
.w640{
  width: 608px;
}
.w768{
  width: 736px;
}
.w1024{
  width: 992px;
}
.w1280{
  width: 1248px;
}
.w1400{
  width: 1368px;
}
.w1920{
  width: 1888px;
}

.h240{
  height: 240px;
}
.h360{
  height: 360px;
}
.h203{
  height: 203px;
}



/*Размеры плеера*/

.pl-standart{
  width: 640px;
  height: 360px;
}
.pl-fly{
  width: 360px;
  height: 360px;
}
.pl-small{
  width: 444px;
  height: 250px;
}
.pl-big{
  width: 1280px;
  height: 720px;
}


/*Прогрессбар*/

.progress-bar-block{
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  height: 8px;
  bottom: 0;
  background-color: #333;
}
.progress-bar{
  width: 63.7%;
  height: 8px;
  background-color: #106fe2;
}

/*Общие стили кнопок*/

.button{
  padding: 8px 10px 8px 10px;
  background-color: rgba(0,0,0,0.45);
  border-radius: 2px;
  border: none;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 16px;
  min-width: 130px;
  max-width: 180px;
  cursor: pointer;
}
.button:hover{
  background-color: rgba(0,0,0,0.8);
}
.bg-green{
  border: none;
  background-color: #3dd9aa !important;
  color: #1c1c1c !important;
}
.bg-green:hover{
  background-color: #38b48f !important;
}
.bg-blue{
  border: none;
  background-color: #106fe2 !important;
}
.bg-blue:hover{
  background-color: #1460bc !important;
}
.top-right-block{
  position: absolute;
  min-width: 24px;
  min-height: 40px;
  right: 2%;
  top: 4%;
  float: right;
  z-index: 9999;
}
.top-left-block{
  position: absolute;
  min-width: 24px;
  min-height: 40px;
  left: 2%;
  top: 4%;
  float: left;
  z-index: 9999;
}
.top-out-frame{
  position: absolute;
  top: -44px;
  right: 2%;
  float: right;
  z-index: 9999;
}
.wh-40{
  width: 40px;
  height: 40px;
  background-size: 50%;
  background-position: center;
}
.wh-48{
  width: 48px;
  height: 48px;
  background-size: 50%;
  background-position: center;
}
.wh-56{
  width: 56px;
  height: 56px;
  background-size: 50%;
  background-position: center;
}


/*Стили боковых кнопок*/

.left-button{
  position: absolute;
  transform: translateY(-50%);
  top: 60%;
  left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;  
}
.right-button{
  position: absolute;
  transform: translateY(-50%);
  top: 60%;
  right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;  
}


/*Стиль кнопки пропустить*/

.skip-button{
  position: absolute;
  transform: translateY(-50%);
  top: 80%;
  right: 2%;
  border: #f3f3f3 solid 2px;
  font-size: 13px;
  opacity: 0.8;
  cursor: default;
}
.skip-button:hover{
  opacity: 0.8;
  background-color: rgba(0,0,0,0.45);
}
.skip-button-active{
  position: absolute;
  transform: translateY(-50%);
  top: 80%;
  right: 2%;
  background-color: #eee;
  color: #000;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
  font-size: 13px;
  opacity: 1;
}
.skip-button-active:hover{
  background-color: #f9f9f9;
  color: #000;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
}


/*Стили кнопок шеринга*/

.share-btn{
  display: block;
  margin-bottom: 10%;
  border-radius: 2px;
  background-position: 50%;
  background-color: rgba(0, 0, 0, 0.45);
  background-repeat: no-repeat;
  background-size: auto;
  cursor: pointer;
}
.share-btn:hover{
  background-color: rgba(0, 0, 0, 0.6);
}

.vk-share{
  background-image: url("/img/vk.svg");
}
.ok-share{
  background-image: url("/img/ok.svg");
}
.fb-share{
  background-image: url("/img/fb.svg");
}


/*Стили панели-блока под видео*/

.bottom-block{
  position: static;
  width: 100%;
  min-height: 40px;
  bottom: 0;
  background-color: #333;
  box-sizing: border-box;
}
.bottom-content{
  margin: 8px;
}
.bottom-text{
  color: #fff;
  font-size: 13px;
}


/*Стили кнопок управления*/

.round-btn{
  display: block;
  border-radius: 36px;
  background-position: 50%;
  background-color: rgba(0, 0, 0, 0.45);
  background-repeat: no-repeat;
  cursor: pointer;
}
.round-btn:hover{
  background-color: rgba(0, 0, 0, 0.6);
}
.cross-btn{
  background-image: url("/img/cross.svg");
  background-size: 40%;
}
.mute-btn{
  background-image: url("/img/mute.svg");
}
.volume-btn{
  background-image: url("/img/volume.svg");
}

/*Стили для аутстрима*/

.timer{
  font-size: 16px;
  text-align: center;
  padding: 6px 8px 5px 8px;
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  border-radius: 2px;
}
.center-button{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -20%);
}
.hide-block{
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-sizing: border-box;
}
.hidden-button{
  opacity: 0;
  transition: 0.15s;
  margin: 0 auto;
}
.hide-block:hover{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 35%, rgb(0, 0, 0, 0.45) 100%);
  transition: 0.15s;
}
.hide-block:hover .hidden-button{
  opacity: 1;
  transition: 0.15s;
}
