block variables

doctype html
html(lang="en")
    include ../modules/head

    body
        .wrapper
            .content
                include ../modules/header_regular
                block content
            include ../modules/footer
