<!-- Footer 8 -->

<footer class="pt-45 pb-45 bg-dark color-white text-center footer_8" id="footer">
	<div class="container px-xl-0">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-3 text-xl-left" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
				<a href="#" class="logo link color-white">HPMD</a>
			</div>
			<div class="mt-10 mb-10 my-xl-0 col-xl-6 lh-40" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
				<a href="about.html" class="f-14 text-uppercase sp-20 link color-white mr-15">О нас</a>
				<a href="products.html" class="f-14 text-uppercase sp-20 link color-white mx-15">Продукты</a>
			</div>
			<div class="col-lg-3 text-xl-right socials" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
				<a href="#" class="mr-15 w-40 btn sm border-transparent-white px-0"><i class="fab fa-twitter"></i></a>
				<a href="#" class="mx-15 w-40 btn sm border-transparent-white px-0"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="ml-15 w-40 btn sm border-transparent-white px-0"><i class="fab fa-google"></i></a>
			</div>
		</div>
	</div>
</footer>