footer(class='pb-40 bg-dark color-white text-center footer_8 ' + footer_pt)
    if (wave)
        .footer-wave
            svg(width='1440px', height='25px', viewBox='0 0 1440 25', preserveAspectRatio='none')
                g#f-wave(data-svg-origin='0 0', style='')
                    path(fill='white', d='M 0 12.5 q 360 -25 720 0 t 720 0 t 720 0 t 720 0 t 720 0 t 720 0 V 0 H 0 V 12.5')
    .container.px-xl-0
        .footer-menu.row.justify-content-between.align-items-baseline
            .col-md-4.d-flex.justify-content-center(data-aos-duration='600', data-aos='fade-down', data-aos-delay='300')
                .footer-logo.d-flex.justify-content-start.align-items-start.flex-column
                    a.logo.link.color-white.mx-0(href='#') DOUBLE SCREEN
                    .order-2.order-xl-0
                        | © 2020 Happy Monday Family

            .col-md-4.footer-nav(data-aos-duration='600', data-aos='fade-down', data-aos-delay='400')
                .d-flex.justify-content-center.align-items-center
                    a(class='link color-white f-18 mx-15 border-bottom-' + headerMenu.formats href='formats.html') Форматы
                    a(class='link color-white f-18 mx-15 border-bottom-' + headerMenu.cases href='cases.html') Кейсы
                    a(class='link color-white f-18 mx-15 border-bottom-' + headerMenu.contacts href='contacts.html') Контакты
if (form)
    .alert.alert-success.alert-dismissible.fixed-top.alert-form-success(role='alert')
        button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
        |     Спасибо за ваше сообщение!
    .alert.alert-warning.alert-dismissible.fixed-top.alert-form-check-fields(role='alert')
        button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
        |     Пожалуйста, заполните необходимые поля
    .alert.alert-danger.alert-dismissible.fixed-top.alert-form-error(role='alert')
        button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
        |     Произошла ошибка при отправке данных :(

// jQuery 3.3.1
script(src='https://code.jquery.com/jquery-3.3.1.min.js')
// Bootstrap 4.3.1 JS
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js')
// Fancybox 3 jQuery plugin JS (Open images and video in popup)
script(src='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js')
// Google maps JS API
script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDP6Ex5S03nvKZJZSvGXsEAi3X_tFkua4U')
// Slick 1.8.1 jQuery plugin JS (Sliders)
script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
// AOS 2.3.4 jQuery plugin JS (Animations)
script(src='https://unpkg.com/aos@2.3.4/dist/aos.js')
// Maskedinput jQuery plugin JS (Masks for input fields)
script(src='js/jquery.maskedinput.min.js')
// Startup 3 JS (Custom js for all blocks)
script(src='js/script.js?v1.0.3h')
script(src='js/lottie.min.js')
