-
    var mainMenu = [{link: 'index.html', name: 'Домой'},
    {link: 'formats.html', name: 'Форматы'},
    {link: 'cases.html', name: 'Кейсы'},
    {link: 'contacts.html', name: 'Контакты'}]


div(class= (topbar) ? "topbar" : ' ')
    // Mobile Menu
    a.open_menu.color-main.bg-light.radius_full
        i.fas.fa-bars.lh-40
    .navigation_mobile.bg-light.type2
        a.close_menu.color-main
            i.fas.fa-times
        .px-40.pt-60.pb-60.text-center.inner
            for i in mainMenu
                div
                    a.f-heading.f-22.link.color-main.mb-20(href= i.link)= i.name

    // Menu
    header.bg-dark.formats-header.header_2
        nav.header_menu_2.transparent
            .container.px-xl-0
                .row.justify-content-between.align-items-baseline
                    .col-md-4.d-flex.justify-content-center
                        .logo-nav.color-white
                            a.color-white.link(href='index.html') DOUBLE SCREEN
                    .col-sm-12.col-xl-4.d-flex.justify-content-center.align-items-center
                        a(class='link color-white f-18 mx-15 border-bottom-' + headerMenu.formats href='formats.html') Форматы
                        a(class='link color-white f-18 mx-15 border-bottom-' + headerMenu.cases href='cases.html') Кейсы
                        a(class='link color-white f-18 mx-15 border-bottom-' + headerMenu.contacts href='contacts.html') Контакты
        .d-flex.align-items-center.justify-content-center.flex-column
            .logo.color-white.d-block.d-xl-none.text-center.logo_mobile(data-aos-duration='600', data-aos='fade-down', data-aos-delay='100')
                a.color-white.link(href='index.html') DOUBLE SCREEN

    if (formatMenu)
        nav.navbar-formats
            ul.formats-nav.color-black.list-unstyled.d-flex.bg-white
                for i in formatMenu
                    if (i.isActive)
                        li
                            a.active(href= i.link)= i.name
                    else
                        li
                            a(href= i.link)= i.name

