.color-heading{
    color: 
    #000;
}
.px-35-important{
    padding: 0 35px !important;
}
.key-idea{
    font-weight: 500;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 0;
    font-weight: 700;
    font-family: Source Sans Pro;
    font-size: 26px;
    line-height: 32px;
}
/*gradient text*/
.gradient-text {
    color: #ff7800;
}
.input{
    -webkit-appearance: none;
    box-shadow: none !important;
}
.contacts_body{
    height: 100%;
    animation: flow-bg 12s ease-in infinite;
    background-size: 400% 400%;
    background-image: linear-gradient(.13turn, #03256C 10%, #4C2A85 30%, #266DD3 40%, #03256C 80%);
}
.contacts_header{
    height: 100%;
    background: transparent !important;
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
    .gradient-text {
        animation: flow 30s ease-in-out infinite;
        background: linear-gradient(45deg, #2c1aa7 10%, #f2cd11 15%, #ff7800 25%, #c6270a 45%, #d800ff 75%, #2c1aa7 95%);
        background-size: 300%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media (max-width: 1199.98px) {
    .text-adaptive.f-40{
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width: 991.98px) {
    .text-adaptive.f-40{
        font-size: 40px;
        line-height: 50px;
    }
    section[class^="pt-"], section[class*=" pt-"] {
        padding-top: 50px;
    }

    section[class^="pb-"], section[class*=" pb-"] {
        padding-bottom: 50px;
    }
}

@media (max-width: 767.98px) {
    .text-adaptive.f-40{
        font-size: 32px;
        line-height: 42px;
    }
}

@media (max-width: 575.98px) {

    .key-idea, h2.small{
        font-size: 26px;
        line-height: 36px;
    }
    .text-adaptive.f-40{
        font-size: 26px;
        line-height: 36px;
    }
    .header-wave{
        margin-bottom: -2px;
    }
    section[class^="pt-"], section[class*=" pt-"] {
        padding-top: 40px;
    }

    section[class^="pb-"], section[class*=" pb-"] {
        padding-bottom: 40px;
    }

}