.br-hide br{
    display: none;
}
.color-heading{
    color: 
    #000;
}
.px-35-important{
    padding: 0 35px !important;
}

@media (min-width: 576px) {

    .br-hide br{
        display: block;
    }

}