.color-heading{
    color: 
    #000;
}
.px-35-important{
    padding: 0 35px !important;
}
.key-idea{
    font-weight: 500;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 0;
    font-weight: 700;
    font-family: Source Sans Pro;
    font-size: 26px;
    line-height: 32px;
}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {

    .key-idea, h2.small{
        font-size: 26px;
        line-height: 36px;
    }

}