extends layout/page

block variables
    - var topbar = false
    - var wave = false
    - var footer_pt = 'pt-50'
    -
        var pageData = { title: 'Double Screen', description: '', keywords: '' }
    -
        var headerMenu = { formats: 'transparent', cases: 'yellow', contacts: 'transparent' }

block content
    section.wrapper_case_lexus.pt-80.pb-80
        .case-bg-lexus
        .container.px-xl-0
            //.row.align-items-center
            //    .col-lg-5
            //    .d-flex.justify-content-center.col-lg-2.col-3.px-0
            //        img(src='i/cases/lexus/logo.png' class='case-logo')


            .row.pb-25.pt-25.align-items-center
                .col-xl-1
                .col-xl-6.mb-50
                    h2.mb-35 Immersion Lexus
                    .color-white.mt-35.mb-15.f-18.semibold Задача
                    p.color-white.f-18 Дедуктивный метод решительно представляет собой бабувизм. Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая новые горизонты.
                    .color-white.mt-35.mb-15.f-18.semibold Идея
                    p.color-white.f-18 Дедуктивный метод решительно представляет собой бабувизм. Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая новые горизонты.
                    p.color-white.f-18 Созерцание непредсказуемо. Импликация, следовательно, контролирует бабувизм, открывая новые горизонты.
                    .color-white.mt-35.mb-15.f-18.semibold Результаты
                    p.color-white.f-18 Надстройка нетривиальна. Смысл жизни, следовательно, творит данный закон внешнего мира. Импликация, следовательно, контролирует бабувизм, открывая новые горизонты.

                .col-xl-5.d-flex.mb-50.desktop-case
                    .video-case-container-desktop
                        img(src='./i/templates/mac.png')
                        .video-case-desktop
                            video.video-case-set(autoplay='autoplay', playsinline='', muted='', loop='')
                                source(src='./i/cases/lexus/lexus.mp4')




