extends layout/page

block variables
    - var topbar = false
    - var wave = false
    - var footer_pt = 'pt-50'
    -
        var pageData = { title: 'Double Screen', description: '', keywords: '' }
    -
        var headerMenu = { formats: 'transparent', cases: 'yellow', contacts: 'transparent' }

block content
    section.wrapper_case_fox.pt-25.pb-430
        .case-bg-fox
        .container.px-xl-0
            //.row.align-items-center
            //    .col-lg-5
            //    .d-flex.justify-content-center.col-lg-2.col-3.px-0
            //        img(src='i/cases/gifted/logo-gifted.svg' style='width: 60%;')


            .row.pb-25.pt-25.align-items-center
                .col-lg-1
                .col-lg-6.mb-50
                    h2.mb-35 Скан & селфи баннер для Gifted
                    .color-heading.mt-35.mb-15.f-18.semibold Задача
                    p.color-heading.f-18 Анонсирование нового сериала от FOX «Одаренные» о подростках со сверспособностями.
                    .color-heading.mt-35.mb-15.f-18.semibold Задача
                    p.color-heading.f-18 Сериал о подростках, внезапно открывающих суперспособности натолкнула нас на идею предложить узнать о своих скрытых способностях, сканируя фото. Пользователь делает селфи, после чего запускается анимация сканирования фото и выдача результатов. По фотографии определяются склонность к суперспособностям, которые есть у героев сериала. Результатом пользовател мог поделиться в VK и FB.

                .col-lg-5.d-flex.justify-content-center.mb-50
                    .video-case-container
                        img(src='i/cases/phone.svg' width='100%')
                        .video-case-fox
                            video.video-case-set(autoplay='autoplay', playsinline='', muted='', loop='')
                                source(src='i/cases/gifted/gifted.mp4')




