extends layout/page

block variables
    - var topbar = false
    - var wave = false
    - var footer_pt = 'pt-50'
    -
        var pageData = { title: 'Double Screen', description: '', keywords: '' }
    -
        var headerMenu = { formats: 'transparent', cases: 'yellow', contacts: 'transparent' }

block content
    section.wrapper_case_lipton.pt-25.pb-260
        .case-bg-lipton
        .container.px-xl-0
            //.row.align-items-center
            //    .col-lg-5
            //    .d-flex.justify-content-center.col-lg-2.col-3.px-0
            //        img(src='i/cases/lipton/logo-lipton_arcanoid.svg' style='width: 60%;')


            .row.pb-25.pt-25.align-items-center
                .col-lg-1
                .col-lg-6.mb-50
                    h2.mb-35 Игра Lipton Arcanoid
                    .color-heading.mt-35.mb-15.f-18.semibold Задача
                    p.color-heading.f-18 Разработать интересную игровую механику для поддержки промо кампании
                    .color-heading.mt-35.mb-15.f-18.semibold Идея
                    p.color-heading.f-18 Мы реализовали в баннере игру Arkanoid.
                    p.color-heading.f-18 Пользователь управлял платформой, которая должна отбивать летающий мячик, не давая ему упасть.
                    .color-heading.mt-35.mb-15.f-18.semibold Задача
                    p.color-heading.f-18 C помощью мячика расчистить все игровое поле. В качестве препятствий использовались ягоды черники и облепихи - вкусы чая липтон. Некоторые ягоды были заморожены, по ним требовалось ударить два раза.

                .col-lg-5.d-flex.justify-content-center.mb-50
                    .video-case-container
                        img(src='i/cases/phone.svg' width='100%')
                        .video-case
                            video.video-case-set(autoplay='autoplay', playsinline='', muted='', loop='')
                                source(src='i/cases/lipton/lipton_arcanoid.mp4')




